body {
	background-color: #02010a;
	font-family: DancingScript,dancingscript;
}

#contenido {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	background-color: #82c3a6;
	margin: auto;
	border-radius: 10px;
	animation: rebote 1s;
}

@media all and (min-width:900px) {
#contenido {
	width: 900px
}
}

/*inicio header*/

header {
	background-color: #5b7989;
	width: 100%;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:center;

}

header div h1 {
	color: white;
	text-shadow: 2px 2px #02010a;
}
header div nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#menu {
	width: 100%;
}

@media (min-width:900px) {
header div h1 {
	text-align: left;
}

#menu {
	width: 40%;
}
}

@media (max-width:899px) {
header div h1 {
	text-align: center;
	
}
}


header div nav a {
	color: white;
	text-align: center;
	padding: 30px;
	flex-grow: 1;
}
.activo {
	text-decoration: none;
}

/*inicio contenido*/

img {
	box-shadow: 2px 2px #02010a;
}
#img_principal {
	width: 100%;
	background: #82c3a6;
}
#img_principal figure {
	width: 80%;
	padding: 10px;
	height: auto;
	margin: auto;
}
#img_principal figure img {
	width: 100%;
}
#img_secundario {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #d5c75f;
	border: 1px;
}
#img_secundario figure {
	width: 30%;
	margin: auto;
	padding: 10px;
}

@media(max-width:899px) {
#img_secundario figure {
	flex-direction:column;
	width: 80%;
}
}

@media (min-width:900px) {
#img_secundario figure {
	width: 40%;
}
}

#img_secundario figure img {
	width: 100%;
	transition-property: transform;
	transition-duration: 1s;
}

#img_secundario figure p {
	text-align: center;
	text-decoration: underline;
	font-size: 1.5em;
}

img[class="rotacion"]:hover{
  -webkit-transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
}
img[class="traslacion"]:hover{
  -webkit-transform: translate(20px,-5px);
  box-shadow: 2px 2px #82c3a6;
}



/*inicio footer*/

footer {
	clear: both;
	width: 100%;
	bottom: 0;
	background: #c6d5c5;
	padding: 20px 40px;
	border-radius: 0 0 10px 10px;
}
.footer {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer div div {
	flex-grow: 1;
	flex-basis: 100%;
	padding: 10px;
}

@media all and (min-width:900px) {
footer div div {
	flex-basis: 20%;
}
}
footer div h4 {
	margin: 5px 0;
	font-size: 30px;
}
footer div p {
	margin: 0;
}


/******************************************************************************************/
/*ANIMACION DE REBOTE*/
@-webkit-keyframes rebote{
0%{
  margin-top: 150%;
}
60%{
  margin-top: -5%;
}
100%{
  margin-top: 0%;
}
}